button {
	height: 50px;
	width: 50%;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #61dafb;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.2rem;
	font-family: 'Baloo Chettan 2';
}

button:hover {
	cursor: pointer;
	background-color: #61dafb;
	color: #282c34;
	transition: all 0.25s ease-in;
}